<div class="main-container">
    <div *ngIf='shoppingCartItems.length'>
        <div class="cart-header">
            <h3>Cart</h3>
            <p><span>Total</span>{{ total | currency:'EUR':true:'1.2-2' }}</p>
        </div>
        <div class="table-responsive cart-container">
            <div class="notify-msg text-right">{{ qtyExceedErrMsg }}</div>
            <table class="table cart table-striped">
                <thead>
                    <tr>
                        <th class="name">Name</th>
                        <th>Price</th>
                        <th class="more">Qty</th>
                        <th class="more">&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let shoppingCartItem of shoppingCartItems'>
                        <td>{{ shoppingCartItem.name }}</td>
                        <td>{{ shoppingCartItem.price | currency:'EUR':true:'1.2-2'}}</td>
                        <td> 
                            <input 
                                type="text" 
                                [value]="shoppingCartItem.qty" 
                                (input)="updateQty($event, shoppingCartItem)" />
                        </td>
                        <td class="text-center">
                            <button class="remove-item" (click)="removeItem(shoppingCartItem)">Remove</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>  
        <div class="cart-footer">
            <a routerLink="/products" class="btn-outline">Continue Shopping</a>
            <button class="btn btn-dark btn-block" [disabled]="isQtyExceed" (click)="makePurchase()">Checkout</button>  
        </div>
    </div> 
    <div *ngIf='!shoppingCartItems.length'>
        <div class="cart-header">
            <h3>Cart</h3>
        </div>
        <div class="no-data">
            <h5>Your shopping cart is currently empty.</h5><br />
            <a routerLink="/products" class="btn btn-dark btn-inline">Start Shopping</a>
        </div>
    </div>
</div>