<div class="main-container">
  <a routerLink="/products" class="back-link"></a>
  <app-loader [isLoading]='isLoading'></app-loader>
  <div class="detail-section" *ngIf='product'>
      <img [src]="product.imageUrl" alt="Product Image" />
      <div class="detail-info">
          <div class="notify-msg">{{ isNewProductErrMsg }}</div>
          <h1>{{ product.name }}</h1>
          <div class="info">
              <p class="info-item"><span>Price</span><b>{{ product.price | currency:'EUR':true:'1.2-2'}}</b></p>
              <p class="info-item"><span>In Stock</span>{{ product.stock }}</p>
          </div>
          <div class="info">
              <p class="info-item">
                  <span>Qty</span>
                  <input 
                    type="text"
                    [value]="qty"
                    (input)="updateItemQty($event)" />
              </p>
              <p class="error-msg">{{ isOutOfStockErrMsg }}</p>
          </div>
          <div class="info">
              <p class="info-item description">
                <span>Description</span>
                {{ product.description }}
              </p>
          </div>
          <div class="info">
              <div class="total">
                <div *ngIf='totalPrice'>
                  <span>Total Price</span>
                  {{ totalPrice | currency:'EUR':true:'1.2-2'}}
                </div>
              </div>
              <button
                class="add-to-cart" 
                (click)="addToCart(product)" 
                [disabled]="outOfStock">Add to Cart</button>
          </div>
      </div>
  </div>
</div>
<div *ngIf='getProductErrMsg' class='alert alert-danger'>
    Error: {{ getProductErrMsg }}
</div>